.bottom-line {
  width: 60px;
  height: 3px;
  display: block;
  background-color: #fff;
  margin: 0 auto 1rem auto;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.5rem 3rem;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn {
  &-light {
    @extend %btn-shared;
    border: 3px solid #fff;
    color: #fff;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover {
  color: $main-color;
  border-color: $main-color;
}

.text-center {
  text-align: center;
}
