@import "config";
@import "utilities";
// General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 h3 h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Navbar
#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .header-logo {
    font-size: 30px;
    margin: auto 0;

    font-weight: bold;
  }

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
    margin: auto 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    color: #fff;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
  }

  a:hover {
    border-color: $main-color;
  }

  .current {
    border-color: $main-color;
    color: $main-color;
  }
}

// Header
#header {
  &-home {
    background: $bg-img no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    color: #fff;
  }

  &-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 150px;
      text-transform: uppercase;
    }

    h2 {
      font-family: $font-2;
      font-size: 72px;
    }
  }
}

// Home
#home {
  &-a {
    h3 {
      font-family: $font-2;
      font-size: 24px;
    }
    h2 {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 0 1rem 0;
    }

    .bottom-line {
      background: $therd-color;
      margin-bottom: 2rem;
    }

    p {
      padding-bottom: 2rem;
      max-width: 900px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }

    .items {
      display: flex;
      justify-content: space-between;
    }

    .item {
      position: relative;
      width: 30%;
      background-color: $sec-color;
      overflow: hidden;

      &:hover {
        .item-img {
          transform: translate(-10px, -10px);
          img {
            opacity: 0.1;
          }
        }

        .item-text {
          opacity: 1;
        }
      }

      &-img {
        background: linear-gradient(to bottom, $therd-color, $main-color);
        transition: transform 0.5s;
        img {
          transition: opacity 0.5s;
          display: block;
        }
      }

      &-text {
        width: 100%;
        color: #fff;
        position: absolute;
        text-transform: uppercase;
        text-align: center;
        z-index: 2;
        top: 50%;
        left: 0;
        opacity: 0;
        transform: translate(0, -50%);
        transition: opacity 0.5s;

        h2 {
          font-weight: 400;
        }
      }
    }
  }

  &-b {
    background: $sec-color;
    .stats {
      display: flex;
      justify-content: space-between;
      color: #fff;
      height: 200px;
    }

    .stat-item {
      flex: 1 1 0;
      padding: 35px 20px;
      border-left: 1px solid #fff;
      text-align: center;
      &:last-child {
        border-right: 1px solid #fff;
      }
    }

    h2 {
      font-size: 72px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &-c {
    .serv {
      &-items {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        width: 100%;
        grid-gap: 1rem;
      }

      &-item {
        position: relative;
        padding-left: 140px;
        margin: 3rem auto;
      }

      &-icon {
        position: absolute;
        top: 0;
        left: 60px;
      }

      &-text {
        h2 {
          text-transform: uppercase;
        }
      }
    }
  }

  &-d {
    height: 70vh;
    width: 100%;
    position: relative;

    &::after {
      content: "";
      background: url(../img/cover.jpg) no-repeat center center/cover;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.3;
    }

    h3 {
      font-family: $font-2;
      font-size: 24px;
      position: relative;
      z-index: 2;
    }

    h2 {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 0 1rem 0;
      position: relative;
      z-index: 2;
    }

    .bottom-line {
      background: $therd-color;
      margin-bottom: 2rem;
      position: relative;
      z-index: 2;
    }

    .devices {
      position: relative;
      z-index: 2;

      &-container {
        max-width: 550px;
        width: 100%;
      }

      .ipad {
        width: 280px;
        height: 380px;
        position: absolute;
        top: 10px;
        left: 370px;
      }

      .iphone {
        width: 150px;
        height: 300px;
        position: absolute;
        top: 120px;
        right: 450px;
      }
    }
  }

  &-e {
    .wedo {
      display: flex;

      &-items {
        width: 50%;
      }
    }
  }
}
